.section-gallery {
  padding: 80px 10px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 30px;
}

.link-img {
  margin-bottom: 20px;
}

.gallery-item {
  margin-bottom: 15px;
}

.gallery-item img {
  width: calc((1200px - 50px) / 4);
  height: calc((1200px - 50px) / 4 / 1.5);
  background-size: cover;
  border-radius: 8px;

  transition: 300ms;
}

.gallery-item img:hover {
  transform: scale(1.02);
}

.list-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.list-info-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.list-info-item:not(:last-child) {
  margin-right: 10px;
}

.info-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.more:not([hidden]) {
  display: block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: none;

  background-color: #ff5151;

  margin-left: auto;
  margin-right: auto;
}

.more:not([disabled]):hover,
.more:not([disabled]):focus {
  background-color: #eb3f3f;
}

.more:not([disabled]):active {
  background-color: #ff5151;
}

.more:disabled {
  color: #ffffff;
  width: 200px;
  background-color: #ff8585;
}
